*{
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    background-color: pink;
    color: black;
    text-align: center;
    font-size: 30px;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: palevioletred;
}
.content{
    overflow: hidden;
}
.left{
    height: 300px;
    width: 60%;
    background-color: powderblue;
    float: left;
}
.right{
    height: 300px;
    width: 40%;
    background-color: blueviolet;
    float: right;
}
.left_one{
    height: 50%;
    width: 100%;
    background-color: powderblue ;
}
.left_two{
    height: 50%;
    width: 100%;
    background-color: aqua;
}
footer{
    overflow: hidden;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}